* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    text-align: center;
}

.navbar {
    margin: 0px;
    height: 40px;
    padding: 0px 0px;
    background-color: blue;
    width: 100%;
}

.liststyle {
    padding: 10px 10px;
    background-color: skyblue;
    float: left;
    
}

.liststyle li {
    padding: 7px 15px;
    display: inline;

}

.navsearch {
    
    padding: 10px 10px;
    background-color: skyblue;
    float: right;
}

#logo {
    margin: 0 auto;
    padding: 50px 0 45px 0;
    text-align: center;
}

.content_img {
    text-align: center;
    max-width: 100%;
}

.main-container-area {
    margin: 40px 40px;
    text-align: center;
}

.flexcontainer {
    margin: 0 auto;
    padding: 20px 20px;
    width: 90%;
    display: flex;

}

.primary {
    margin: 0 10px;
    padding: 0 10px;
    width: 70%;
    background-color: blue;
}

.secondary {
    margin: 0 10px;
    padding: 0 10px;
    width: 30%;
    background-color: red;
    text-align: left;
}

.rectangle {
    height: 2px;
    width: 100px;
    background-color: white;
    padding: auto auto;
}
.rectangle1 {
    height: 2px;
    width: 50px;
    background-color: white;
    padding: auto auto;
}

.cent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rectangle {
    padding: ;
    width: 100px; /* Adjust the width as needed */
    height: 2px; /* Adjust the height as needed */
    background-color: white; /* Adjust the color as needed */
}

.container .flexcontainer .secondary .about_me {
    align-items: left;
}

